# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# Environment variables file
.env

# Flask specific files
instance/
*.log
*.pid
*.py~
*.db

# Cache files
.cache/
.pytest_cache/
coverage/
htmlcov/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Editor / IDE specific
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
desktop.ini
